<h3><i class="fas fa-book-reader"></i> Share Stories</h3>
<div class="section">
    <p class="lead">Create stories of iur ;life</p>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Logn with google
        </a>
    </div>
</div>